# Desabilita cache para HTML
<filesMatch "\.(html)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

# Cache para assets (JS e CSS) - 1 ano pois os nomes mudam a cada build
<filesMatch "\.(css|js|ico|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot)$">
  <ifModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public, immutable"
  </ifModule>
</filesMatch>

# Habilita compressão
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>

# Redirecionamento para SPA
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]